body{
  background: #F3F3F3;

}

#sale-bar{
  box-sizing: border-box;
  margin-top: 0.5em;
  margin-bottom: 1em;
  height: 24em;
  width: 100%;
}

#post-button{
  height: 7em;
  width: 7em;
  color: white;
  background-color: green;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 0px 3px 3px #E2E2E2;
}

.left-button-body{
  padding: 1em;
  box-sizing: border-box;
}

.right-side-bar{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid gray;
  box-sizing: border-box;
  padding: 1em;
  background: white;
  margin-top: 1em;
}

.indiv-item{
  height: 8em;
  width: 8em;
  border: 1px gray solid;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  background: white;
  box-shadow: 0px 1px 1px gray;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.item-row{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.face-hidden{
  opacity: 0;
}

.sale-bar-items{
  padding: 0;
}

.sale-bar-items>li{
  list-style-type: none;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}